<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta name = 'viewport' content = 'width=device-width, intial-scale=1'>
    <link rel = 'stylesheet' href = '/static/css/marina.css'>
 </head>

<body>
    <section class="section two">
        <div class="container">
            <div class="column-left" id="columnleft2">
                <h1 class="text">Marina Square</h1>
                <p class="text">Japanese, Western, Turkish</p>
            </div>
            <div class="column-right">
                <div class = 'food1'>
                    <h2>Kanada-ya</h2>
                    <img src="/static/images/RamenKANADA.png" class="image">
                    <p>Japenese restaurant selling ramen ranging from $25 to $16 and juicy beef bowl at $16!!</p>
                </div>

                <div class = 'food2'>
                    <h2>Suki-ya</h2>
                    <img src="/static/images/hotpot.jpg" class="image">
                    <p>Sedap hotpot with sukiyaki, miso, kimuchi (not kimchi btw), butaniku soup base! For only
                        $25 /pax you get 80 minutes of heaven with beef/chicken/haram slices
                    </p>
                </div>

                <div class = 'food3'>
                    <h2>Chic-a-boo</h2>
                    <img src="/static/images/chic.jpeg" class="image">
                    <p>My absolute favourite place on Earth. Jesus i cant tell you how juicy the chicken burgers
                        are! You get so much for only $8.90 per burger WITH a meal. (yes thats my own pic)
                    </p>
                </div>

                <div class = 'food3'>
                    <h2>Sofra Turkish Cafe & Restaurant</h2>
                    <img src="/static/images/RamenKANADA.png" class="image">
                    <p>This place sells kebabs and turkish desserts! Looks super good, considering the prices
                        are quite affordable! Kebabs goes from $11.50 to $21.90! Their charcoal grill meats goes 
                        from $19.50 to $28.50! They got bussin-looking desserts such as Kunefe and Baklava.
                    </p>
                </div>

            </div>
        </div>

            
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="/static/javascript/marina.js"></script>

</body>
</html>