<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <meta name = 'viewport' content = 'width=device-width, intial-scale=1'>
    <link rel = 'stylesheet' href = '/static/css/mbs.css'>
 </head>

<body>
    <section class="section three">
        <div class="container">
            <div class="column-left" id="columnleft2">
                <h1 class="text">Marina Bay Sands</h1>
                <p class="text">Japanese, Western</p>
            </div>
            <div class="column-right">
                <div class = 'food1'>
                    <h2>Ippudo</h2>
                    <img src="/static/images/ramenIppudo.PNG" class="image">
                    <p>Here we have a japanese restaurant selling some bougie ramen with each ramen costing approx
                        $25! If youre not a fan of pork chasu, they have chicken available! (i find pork kinda gross) As you can see
                        from the picture, they have a lot of ingredients in their ramen.
                    </p>
                </div>

                <div class = 'food2'>
                    <h2>Dallas Cafes & Bar</h2>
                    <img src="/static/images/dallas.PNG" class="image">
                    <p> broo im going crazy making this :( BUt anyways! They sell pizzas, burgers and A LOT OF HARAM LIQUID. I didnt know you can have 
                        that many variations. Its incredibly innovative. Anyways average cost of burgers and pizzas are like $25 ish. looks bussin
                    </p>
                </div>

                <div class = 'food3'>
                    <h2>Roberta's</h2>
                    <img src="/static/images/roberta.jpeg" class="image">
                    <p> This place loves pizzas a bit too much that they are tryna evangelize people with their pizzas. 
                        Imagine eating 'CHEESUS CHRIST', 'LAMB OF GOD' and 'SPRING OF DOOM'. In a serious note, their pizzas
                        look freaking delicious, sold at an average price of $28.
                    </p>
                </div>

                <div class = 'food3'>
                    <h2>Le noir</h2>
                    <img src="/static/images/lenoir.jpg" class="image">
                    <p> Pretty much the same as dallas. A LOT of alcohol! They serve more like bit sized
                        mains like mini burgers and mini tacos in servings of 3s. Price is also quite similar to Dallas!
                    </p>
                </div>

            </div>
        </div>

            
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="/static/javascript/mbs.js"></script>

</body>
</html>