@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.two{
    background: #ff9e2cff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.column-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding: 0rem 2rem;
}

.column-left h1{
    margin-top: 1em;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}


.column-left p{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: 'Poppins', sans-serif;
}

.text{
    color: #fff;
}



.subtext{
    color: #fff;
    margin-left: 2em;
    margin-bottom: 10em;
}



h2{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #fff;
    background-color: #000;
    max-width: fit-content;
    padding-left: 0.2em;
    padding-right:0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 2em;
}
p{
    font-family: 'Poppins', sans-serif; 
    font-weight:100;
    padding-right:0.5em;
    margin-left: 1em;
    margin-bottom: 0.3em;
    margin-top: 1.5em;
}




@media(max-width: 760px) {


    .image{
        max-height: 100%;
        width: 90%;
        margin-left: 1.5em;
        
        cursor: pointer;
        box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
    }

}

@media(min-width: 761px) {

    .image{
        max-width: 100%;
        height: 90%;
        
        cursor: pointer;
        box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
    }

}